@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@page {
    size: 29.7cm 21.0cm !important;
}
* {
    font-family: Arial, sans-serif !important;
}
body {
    font-size: 12px;
    color: black;
    margin: 2.5cm 0.5cm 1.3cm 0.5cm !important;
    vertical-align: bottom!important;
}

h1 {
    font-family: Bebas Neue, Helvetica, Arial, sans-serif !important;
    display: inline;
    font-size: 30pt;
    margin:0;
    font-weight: normal;
    padding:0;
}

.banner h2{
    margin:0;
    font-family: Bebas Neue, Helvetica, Arial, sans-serif !important;
    font-size: 24pt;
    padding:0;
}

p{
    padding: 0px;
    margin: 10px 0px 0px 0px;
}

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "header  header "
    "sidebar content "
    "footer  footer  ";
    background-color: #fff;
}
.box {
    /*border-radius: 5px;*/
    padding: 0px;
    font-size: 120%;
}

.header {
    grid-area: header;
    border-bottom: solid rgba(205, 214, 36, 0.5);
    margin-bottom: 20px;
}

.header img{
	width: auto;
    height: 2cm;
    padding-bottom: 5px;
}

.banner{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "box  box";
   align-items: end;
}

.sidebar {
    grid-area: sidebar;
}
.legend{
    margin-top: 100px;
}

.content {
    grid-area: content;
    position: relative;
}

.footer {
    grid-area: footer;
}

.footer {
    font-size: 11px;
}

.topleft {
    position: absolute;
    top: 0;
    left: 0;
}

.topright {
    position: absolute;
    top: 0;
    right: 0;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sidebar img {
	width: 1.5cm;
    height: auto;
}

.footer img{
	width: auto;
    height: 1cm;
    margin : 0px 10px 0px 0px;
}
.north{
    margin-top: 20px;
}